
main {
  border: solid rgb(182, 178, 174); 
  border-radius: 2pc;
  background-color: rgba(236, 231, 231, 0.452);
  width: 90vw;
  height: auto;
  margin: 20px auto 0 auto;
}

#container {
  position: center;
  margin: 70px auto 50px auto;
  width: 60%;
  height: auto;
  border: 5px solid rgb(255, 254, 254);
  border-radius: 2pc;
}

#start {
  margin: 20px auto 20px auto;
  width: 80%;
  text-align: center;
  line-height: 1.5;
}

#start h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
}

img {
  width: 50%;
  height: auto;
}

#startquiz {
  background-color: rgb(79, 122, 97);
  padding: 15px 32px;
  font-size: 20px;
  color: white;
  border-radius: 1pc;
}

#q-space {
  margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#questionTitle {
  font-size: 20px;
  font-family: arial, sans-serif;
}

#answerCheck {
  color: #5f6469;
}

#timer, #timesup {
  margin: 30px 30px ;
  float: right;
  border-bottom: solid rgba(3, 9, 20, 0.445);
  border-radius: .5pc;
  padding: 7px 30px 7px 30px;
  background-color: rgb(79, 122, 97);
  color: white;
}

#highScore {
  margin: 30px 30px ;
  float: left;
  background-color: rgb(79, 122, 97);
}

#summary, #scorespace {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  line-height: 1;
}

.btn {
  background-color: rgb(79, 122, 97);
  padding: 5px 5px;
  font-size: 18px;
  color: white;
  border-radius: .5pc;
}

.btn:focus, .btn:active, .btn:visited {
  outline: none !important;
  box-shadow: none !important;
  background-color: #dbb610;
}

#finalScore {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}